substitutions:
  device_name: !secret device_name 
  device_ip: !secret device_ip

esphome:
  name: ${device_name}
  platform: ESP8266
  board: d1_mini

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  manual_ip:
    static_ip: ${device_ip}
    gateway: !secret device_gateway
    subnet: !secret device_subnet
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: !secret fallback_wifi_ssid
    password: !secret fallback_wifi_password

logger:
  
api:
  reboot_timeout: 15min
  encryption:
    key: !secret api_encription_key

ota:
  password: !secret ota_password

# the web_server & sensor components can be removed without affecting core functionaility.

web_server:
  port: 80

sensor:
  - platform: wifi_signal
    name: ${device_name} Wifi Signal Strength
    update_interval: 60s
  - platform: uptime
    name: ${device_name} Uptime

#######################################
# Device specific Config Begins Below #
#######################################

# --- Définition des sorties (outputs) ---
output:
  # Broche pour la vitesse (PWM)
  - platform: esp8266_pwm
    id: motor_speed
    pin: D5
    frequency: 1000 Hz

  # Broche pour activer le moteur (ENABLE)
  - platform: gpio
    id: motor_enable
    pin: D4

  # Broche pour le sens de rotation
  - platform: gpio
    id: motor_direction
    pin: D6

# --- Définition du ventilateur (fan) ---
fan:
  - platform: speed
    name: "Ventilateur L293D"
    output: motor_speed
    enable_pin: motor_enable
    direction_pin: motor_direction