substitutions:
  device_name: !secret device32_name 
  device_ip: !secret device32_ip

esphome:
  name: ${device_name}

esp8266:
  board: esp01_1m

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  manual_ip:
    static_ip: ${device_ip}
    gateway: !secret device_gateway
    subnet: !secret device_subnet
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: !secret fallback_wifi_ssid
    password: !secret fallback_wifi_password

logger:
  
api:
  password: !secret api_password

ota:
  - platform: esphome
    password: !secret ota_password

# the web_server & sensor components can be removed without affecting core functionaility.

web_server:
  port: 80

sensor:
  - platform: wifi_signal
    name: ${device_name} Wifi Signal Strength
    update_interval: 60s
  - platform: uptime
    name: ${device_name} Uptime

#######################################
# Device specific Config Begins Below #
#######################################

# --- Définition des sorties (outputs) ---
output:
  # Broche pour la vitesse (PWM)
  - platform: esp8266_pwm
    id: motor_speed
    pin: GPIO1
    frequency: 1000 Hz

switch:
  - platform: gpio
    id: in1_dir
    pin:
      number: GPIO2
      mode: OUTPUT
    internal: true

  - platform: gpio
    id: in2_dir
    pin:
      number: GPIO3
      mode: OUTPUT
    internal: true


fan:
  - platform: speed
    id: 'locomotorspeed'
    name: "Speed"
    output: motor_speed

  
# Contrôle de la direction exposé à Home Assistant
select:
  - platform: template
    name: "${device_name} Direction"
    id: direction_train
    optimistic: true
    options:
      - "Arrêt"     # roue libre (coast) : IN1=0, IN2=0
      - "Avant"     # IN1=1, IN2=0
      - "Arrière"   # IN1=0, IN2=1
    initial_option: "Arrêt"
    set_action:
      - lambda: |-
          if (x == "Avant") {
            id(in1_dir).turn_on();
            id(in2_dir).turn_off();
          } else if (x == "Arrière") {
            id(in1_dir).turn_off();
            id(in2_dir).turn_on();
          } else { // "Arrêt"
            id(in1_dir).turn_off();
            id(in2_dir).turn_off();
          }

    

